/*
*   Ici sont regroupés les @keyframes d'animations
*/

@keyframes light{
    0%{
        background: rgb(0, 0, 0);
        border-left: 5px solid rgb(87, 179, 255);
    }
    100%{
        border-left: 5px solid rgb(101, 255, 87);
        background: rgb(49, 49, 49);
    }
}




.col-1{
width: 8.33%; 
}
.col-2{
width: 16.66%; 
}
.col-3{
width: 25%; 
}
.col-4{
width: 33.33%; 
}
.col-5{
width: 41.66%; 
}
.col-6{
width: 50%; 
}
.col-7{
width: 58.33%; 
}
.col-8{
width: 66.66%; 
}
.col-9{
width: 75%; 
}
.col-10{
width: 83.33%; 
}
.col-11{
width: 91.66%; 
}
.col-12{
width: 100%; 
}

.container{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
}

.box{
    padding:3%;
    background-color: rgba(255, 255, 255, 0.274);
}

.bigScrollBox{

    overflow: scroll;
    max-height: 450px;
}

.box h2{
    font-size: 250%;
    text-transform: uppercase;
    padding-bottom:2%;
}

.align-right{
    justify-content: flex-end;
    align-items: flex-end;
}

.align-left{
    align-content: flex-start;
}


*{
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    margin:0;
    padding:0;
}


header{
    background: black url('../../images/car-bg.jpg') no-repeat scroll top;
    background-size: contain;
    color:white;
    padding: 5%;
    border-bottom: 1px solid white;
}

body{
    background: grey url('../../images/greybg.png') no-repeat fixed center;
    background-size: cover;
}


footer{
    color:white;
    text-align: center;
    background-color: black;
    padding:2% 0 5% 0;
    border-top: 1px solid white;
}

.mainNav{
    background: black;
    min-height: 600px;
}

.mainNav ul{
    
}


.mainNav ul a{
    text-decoration: none;
    font-size: 120%;
    color:white;
}

.mainNav ul a li{
    padding: 15% 0% 15% 12%;
    border-left: 5px solid rgb(87, 179, 255);
    background: rgb(0, 0, 0);
}

.mainNav ul a li:hover{
    border-left: 5px solid rgb(101, 255, 87);
    background: rgb(49, 49, 49);
    animation: light 0.5s ease-out;
}


/*
* Style des formulaires du site
*/

 .myForm{
     padding:5%;    
     font-size: 150%;
     background-color: rgba(255, 255, 255, 0.575);
 }

 .myForm label{
    padding-right: 15%;
    max-width: 150px;;
 }

 .myForm input[type='text'], .myForm select, .myForm input[type="number"]{
    margin-right: auto;
    width:100%;
    font-size: 130%;
    margin-bottom: 10px;
 }

 .myForm input[type='checkbox']{
   width:20px;
   height:20px;
 }

.required:nth-child(4){
    visibility: hidden;
}

 .btn{
     width:30%;
     padding:1%;
     margin:5% auto 1% auto;
     border:2px solid rgba(0, 0, 0, 0.26);
     font-size: 100%;
 }


 .btn-primary{
     color:rgb(255, 255, 255);
     background-color: rgb(0, 0, 0);
 }

 .btn-primary:hover{
    color:rgb(126, 198, 240);
    background-color: rgb(46, 120, 155);
}

 .btn-secondary{
     color:rgb(62, 138, 85);
    background-color: rgb(31, 59, 47);
}

.btn-secondary:hover{
    color:rgb(94, 216, 131);
   background-color: rgb(69, 131, 104);
}

.vehicleBox{
    background-color: white;
    display: flex;
    width:100%;
    padding:20px 40px 20px 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.vehicleBox h3{
    text-transform: uppercase;
}

.vehicleBox span{
    font-weight: bold;
}

.smallButton{
    background-color: black;
    color:white;
    max-width: 40%;
    min-width: 100px;
    padding:2%;
    margin:2px;
    text-align:center;
    text-decoration: none;
}