{% extends 'base.html.twig' %}

{% block title %}VehiclePark.com{% endblock %}

{% block body %}

<div class="container col-12">
         <h2>{{ alertMessage }}</h2>
        <p> {{ alertDescription }} </p>
</div>

{% endblock %}
