{% extends 'base.html.twig' %}

{% block title %}Ajouter un véhicule{% endblock %}

{% block body %}


<div class="myForm">
<h2>{{ title }}</h2>

{{ form_start(formVehicle) }}

{{ form_row(formVehicle.name, {'label':'Nom du véhicule'}) }}
{{ form_row(formVehicle.color, {'label':'Couleur'}) }}
{{ form_row(formVehicle.constructor, {'label':'Selectionner la marque du constructeur'}) }}
{{ form_row(formVehicle.Car.convertible, {'label':'Décapotable'})         }}


<input type="submit" name="next" value='{{ button }}' class="btn btn-primary">



{{ form_end(formVehicle) }}

</div>
{% endblock %}


