{% extends 'base.html.twig' %}

{% block title %}Gestin: constructeurs{% endblock %}

{% block body %}


<div class="myForm">
<h2>{{ title }}</h2>

{{ form_start(formConstructor) }}

{{ form_widget(formConstructor)}}

<input type="submit" name="next" value='{{ button }}' class="btn btn-primary">



{{ form_end(formConstructor) }}

</div>
{% endblock %}


