{% extends 'base.html.twig' %}

{% block title %}VehiclePark.com{% endblock %}

{% block body %}

<div class="row">
    <div class="container col-6">
        <h2>Liste des vehicules</h2>
    </div>
    <div class="row col-6 align-right">
        <a href="{{ path('consult_vehicle') }}" class="smallButton col-2">TOUT</a>
        <a href="{{ path('consult_car') }}" class="smallButton col-2">VOITURES</a>
        <a href="{{ path('consult_truck') }}" class="smallButton col-2">CAMIONS</a>
    </div>
</div>
<div class="bigScrollBox">


{% for vehicle in vehicles %}

    <div class="row">

        <div class="vehicleBox ">
            
            <div class="container col-1">
                {% if vehicle.type == "car" %}

                    <img src="images/car_icon.png" alt="logo voiture" width='64'>

                {% else %}

                    <img src="images/truck_icon.png" alt="logo camion" width='64'>

                {% endif %}
            </div>

            <div class="container col-3">
                <h3> {{ vehicle.name }} </h3>
            </div>

            <div class="container col-3">
                <ul>
                    <li> <span> Constructeur:</span>{{ vehicle.constructor.name }}</li>
                    <li> <span> Couleur:</span> {{ vehicle.color }} </li>

                    {% if vehicle.type == 'car' %}

                        {% if vehicle.car.convertible == true %}

                            <li>  <span> Décapotable:</span> Oui </li>

                        {% else %}

                            <li>  <span> Décapotable:</span> Non </li>

                        {% endif %}


                    {% else %}

                        <li>Poids: {{ vehicle.truck.weight }} Kg </li>
                        <li>Nombre de roues: {{ vehicle.truck.wheelNumber }} </li>


                    {% endif %}
                </ul>
            </div>

            <div class="container col-5 align-right">

                {% if vehicle.type == 'car' %}

                    <a href="{{ path('edit_car',{'id' : vehicle.id}) }}" class="smallButton">Consulter</a>
                    <a href="{{ path('edit_car',{'id' : vehicle.id}) }}" class="smallButton">Editer</a>
                    
                {% else %}

                     <a href="{{ path('edit_truck',{'id' : vehicle.id}) }}" class="smallButton">Consulter</a>
                    <a href="{{ path('edit_truck',{'id' : vehicle.id}) }}" class="smallButton">Editer</a>


                {% endif %}

                    <a href="{{ path('delete_vehicle',{'id' : vehicle.id}) }}" class="smallButton">Supprimer</a>

            </div>
            
        </div>
    </div>
{% endfor %}
</div>


{% endblock %}
