{% extends 'base.html.twig' %}

{% block title %}VehiclePark.com{% endblock %}

{% block body %}

<div class="row">
    <div class="container col-6">
        <h2>Liste des marques</h2>
    </div>
    <div class="row col-6 align-right">
        <a href="{{ path('create_constructor') }}" class="smallButton col-2">AJOUTER</a>
    </div>
</div>
<div class="box bigScrollBox">
{% for constructor in constructors %}

    <div class="row col-12 vehicleBox">
        <div class="container col-3">
            <img src=" {{ constructor.pictureURL }} " alt="logo de la marque {{ constructor.name}}" width='96'>
        </div>
        <div class="container col-3">
            <h3> {{ constructor.name }} </h3>
        </div>

        <div class="container col-6 align-right">
            <a href="{{ path('edit_constructor',{'id' : constructor.id}) }}" class="smallButton">Modifier</a>
            <a href="{{ path('delete_constructor',{'id' : constructor.id}) }}" class="smallButton">Supprimer</a>
        </div>
    </div>


{% endfor %}
</div>


{% endblock %}
