{% extends 'base.html.twig' %}

{% block title %}Ajouter un véhicule{% endblock %}

{% block body %}


<div class="myForm">
<h2>{{ title }}</h2>

{{ form_start(formVehicle) }}

{{ form_row(formVehicle.name, {"attr":{'placeholder':'ex: Alpha v7 - 5 char. mini','label':'Nom du véhicule'}}) }}
{{ form_row(formVehicle.color, {"attr":{'placeholder':'ex: Blanc nacré','label':'Couleur'}}) }}
{{ form_row(formVehicle.constructor, {'label':'Selectionner la marque du constructeur'}) }}
{{ form_row(formVehicle.Truck.weight, {"attr":{'placeholder':'2500','label':'Poids (Kg)'}})         }}
{{ form_row(formVehicle.Truck.wheelNumber,{"attr":{'placeholder':'4','label':'Nombre de roues'}})  }}



<input type="submit" name="next" value='{{ button }}' class="btn btn-primary">



{{ form_end(formVehicle) }}

</div>
{% endblock %}


