<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../../css/style.css">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <header>
        <h1>MyVehiclePark.com</h1>
        <h2>Le gestionnaire de parc automobile simple et efficace</h2>
    </header>

    <main>
    
    <div class='row'>

        <div class="container col-2">
            <nav class='mainNav'>
                <ul>
                    <a href=" {{ path('consult_vehicle') }} ">
                        <li>Consulter les Vehicules</li>
                    </a>
                    <a href=" {{ path('create_truck')}} ">
                        <li>Ajouter un camion</li>
                    </a>
                    <a href=" {{ path('create_car')}} ">
                        <li>Ajouter une voiture</li>
                    </a>
                    <a href=" {{ path('consult_constructor')}} ">
                        <li>Gérer les construteurs</li>
                    </a>
                </ul>
            </nav>
        </div>
        
        <div class="container col-9 box">
        {% block body %}{% endblock %}
        </div>
    
    
    </div>
    

        
    
    
    </main>
    <footer>
    
        <h2>MyVehiclePark®2019copyright</h2>
        <h3>Site web développé avec symfony v3.4 par un stagiaire très motivé</h3>
    
    </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
